:root {
    --bdpe-bg: radial-gradient(circle at 50% 0%, #292929, #0F0F0F 100%);
    --bdpe-bg-darker: #0000007C;

    --bdpe-text: #fff;

    --bdpe-primary: #1db954;
    --bdpe-primary-hover: #1ed760;
    --bdpe-primary-active: #1aa34a;

    --bdpe-secondary: #333;
    --bdpe-secondary-hover: #444;
    --bdpe-secondary-active: #222;

    --bdpe-tertiary: #666;
    --bdpe-tertiary-hover: #777;
    --bdpe-tertiary-active: #555;

    --bdpe-header: #0f0f0f;
}

body {
    background-image: var(--bdpe-bg);
    font-family: Arial, Helvetica, sans-serif;

    padding: 0;
    margin: 0;

    overflow-y: auto;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header {
    z-index: 1000;
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;

    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 70px;

    background-color: var(--bdpe-header);
}
.header .title {
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0 5px;
    line-height: 50px;
    font-size: 4vmin;
}
.header .icon {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;

    background-size: cover;
    background-position: center;

    border-radius: 5px;

    /*rotate slightly clockwise*/
    transform: rotate(-5deg);
}
.header .icon img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: left;

    width: 100%;
    height: 60px;

    background-color: var(--bdpe-header);
}
.footer p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0 10px;
    line-height: 50px;

    font-size: 1.5vmin;
}
.footer a {
    color: #b63838;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 50px;
    text-decoration: none;
}
.footer a:hover {
    color: #e46161;
}
.demo {
    color: #b63838;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 50px;
    text-decoration: none;

    cursor: pointer;
}
.demo:hover {
    color: #e46161;
}
.demo-link {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    text-decoration: none;

    font-family: "Roboto", sans-serif;
}
.demo-link p {
    margin: 0;
    padding: 0;
}
.footer .heart {
    /* use emoticon instead of ascii */
    color: #e46161;
}

/* give heart rainbow gradient */
@keyframes rainbow {
    0% {
        color: #e46161;
    }
    12.5% {
        color: #e4b261;
    }
    25% {
        color: #e4e461;
    }
    37.5% {
        color: #61e461;
    }
    50% {
        color: #61e4e4;
    }
    62.5% {
        color: #6161e4;
    }
    75% {
        color: #e461e4;
    }
    100% {
        color: #e46161;
    }
}
.footer .heart:hover {
    animation: rainbow 5s infinite;
}

.base {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: auto;
}


.app-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 750px;
    height: 100vh;

    height: calc(100vh - 60px);
    margin: auto;
    padding: 0 20px;

    background-color: var(--bdpe-bg);
}
.container.inactive {
    display: none;
}

.display {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    width: 100%;
  }

.container .description {
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0 10px;
    line-height: 1.15;
    text-align: left;
}
.container .description a {
    color: #b63838;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.15;
    text-decoration: none;
}
.container .description a:hover {
    color: #e46161;
}

.step1-button-container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80px;

    margin: 20px 0;
    padding: 0;
}
.step1-button-container .step1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    background-color: rgba(230, 114, 114, 0.1);
    border-radius: 5px;

    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0 10px;
    line-height: 1.15;
    text-align: center;
    text-decoration: none;
}
.step1-button-container .step1:hover {
    background-color: rgba(230, 114, 114, 0.2);
}

.step1-button-container small {
    /* pin to top left of element */
    position: absolute;
    top: -5px;
    left: -5px;

    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;

    background-color: rgba(230, 114, 114);
    background-size: cover;
    background-position: center;

    border-radius: 5px;

    /*rotate slightly clockwise*/
    transform: rotate(-5deg);

    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;

}

.step2-button-container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 150px;

    margin: 20px 0;
    padding: 0;
}
.step2-button-container .step2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    border-radius: 5px;
    /* striped border */
    border: 2px dashed rgba(255, 78, 78, 0.5);

    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0 10px;
    line-height: 1.15;
    text-align: center;
    text-decoration: none;
}
.step2-button-container .step2 svg {
    width: 60px;
    height: 60px;
    margin: 0;
    padding-bottom: 10px;
    fill: #fff;
}
.step2-button-container .step2 span p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.15;
    text-align: center;
    text-decoration: none;
}
.step2-button-container.dragover .step2 {
    /* striped border */
    border: 2px dashed rgba(114, 168, 230, 0.5);
}

.step2-button-container small {
    /* pin to top left of element */
    position: absolute;
    top: -5px;
    left: -5px;

    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;

    background-color: rgba(230, 114, 114);
    background-size: cover;
    background-position: center;

    border-radius: 5px;

    /*rotate slightly clockwise*/
    transform: rotate(-5deg);

    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;

}


.app-data {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: calc(100% - 40px);

    margin: 20px 0;
    padding: 70px 20px 20px 20px;
}
.app-data.active {
    display: flex;
}
.tabcontent.griddata {
    gap: 15px;
    height: 100%;
    grid-template-rows: repeat(1fr);

    color: #fff;
    flex-direction: column;
}



.card-stat {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.card-stat .stat {
    display: flex;
    flex-direction:  row;
    word-break: break-word;
}
.card-stat h3 {
    margin: auto 0;
    width: 90%;
}
.card-stat svg {
    height: 20px !important;
    width: 20px !important;
    padding: 5px;
    color: #d94c4c;
}
.card-item-comment {
    color: #fff;
    opacity: 0.7;
}
.stat-color {
    color: #d94c4c;
}

.card.user {
    padding: 0;
}



@media (min-width: 750px) {
    .tabcontent.griddata {
        grid-template-columns: repeat(11, 1fr);
    }

    .card.user {
        grid-column: 1 / 12;
        grid-row: 1;
        padding: 0;
    }
    .card.temp1 {
        grid-column: 1 / 4;
        grid-row: 2 / 6;
    }
    .card.temp2 {
        grid-column: 4 / 8;
        grid-row: 2 / 6;
    }
    .card.temp3 {
        grid-column: 8 / 12;
        grid-row: 2 / 6;
    }
    .card.temp4 {
        grid-column: 1 / 8;
        grid-row: 4 / 6;
    }
    .card.songsearch {
        grid-column: 1 / 5;
    }
    .card.songdisplay {
        grid-column: 5 / 12;
    }
}
@media (max-width: 950px) and (min-width: 750px) {
    .tabcontent.griddata {
        grid-template-columns: repeat(11, 1fr);
    }

    .card.user {
        grid-column: 1 / 12;
        grid-row: 1;
    }
    .card.temp1 {
        grid-column: 1 / 4;
        grid-row: 2 / 6;
    }
    .card.temp2 {
        grid-column: 4 / 8;
        grid-row: 2 / 6;
    }
    .card.temp3 {
        grid-column: 8 / 12;
        grid-row: 2 / 6;
    }
    .card.temp4 {
        grid-column: 1 / 12;
        grid-row: 4 / 6;
    }
    .card.songsearch {
        grid-column: 1 / 5;
    }
    .card.songdisplay {
        grid-column: 5 / 12;
    }
}

.card {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px;

    /* contain text within card nicely */
    word-break: break-all;
}
.card.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-title {
    width: 100%;
    text-align: center;
}
.banner-shade {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 5px;

    overflow: hidden;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    backdrop-filter: blur(3px);
}
.card.user .user-banner {
    /* set ratio to 128px x 672px */
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 5px;

    overflow: hidden;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 128px;
}
@media (max-width: 430px) {
    .banner-shade {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card.user .user-banner {
        flex-direction: column;
        aspect-ratio: 3 / 2;
        align-items: center;
        justify-content: center;
    }
    .profile-img {
        border-radius: 50% !important;
        transform: translate(0,0) !important;
        height: 64px !important;
        width: 64px !important;
    }
    .profile-info {
        justify-content: center !important;
        align-items: center !important;
    }
    .beta-warning {
        position: fixed !important;
        right: unset !important;
        width: 80% !important;
    }
}

.profile-img {
    height: 150px;
    width: 150px;

    /* 50% border on right */
    border-radius: 5px 50% 50% 5px;
    overflow: hidden;

    transform: translate(-25%, 0);
}
.profile-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.profile-info h1 {
    margin: 0 5px;
}
.user-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 0 5px;
}
.user-stars p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 15px;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    text-align: left;
    text-decoration: none;
}


#pchart {
    display: flex;
    width: auto;
}
@media (max-width: 750px) {
    .frappe-chart.chart {
        width: 100% !important;
        height: auto !important;
    }
}


   /* Style the tab */
.tab {
    overflow: hidden;
    border: 2px solid rgba(255, 78, 78, 0.5);
    width: fit-content;
    color: #fff;
}
.tabcontent.full {
    display: none;
    grid-gap: 15px;
    height: 100%;
    border: none;
    min-height: calc(100vh - 390px);
}
.tabcontent.noborder {
    border: none;
}
  
  /* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: inherit;
}
/* Style the buttons that are used to open the tab content */
.tab.rounded {
    display: flex;
    border: none;
    gap: 10px;
}
.tab.center-page {
    width: 100%;
    align-items: center;
    justify-content: center;
}
.tab.rounded button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 16px;
    transition: 0.3s;
    color: inherit;
    border: 2px solid rgba(0, 1, 17, 0.5);
    background-color: rgba(0, 1, 17, 0.5);
    border-radius: 25px;
    transition: all 0.5s fade-in-out;
}
  
/* Change background color of buttons on hover */
.tab.rounded button:hover {
    /*background-color: rgba(255, 78, 78, 0.2);*/
    border: 2px solid rgba(255, 78, 78, 0.5);
}
.tab button:hover {
    background-color: rgba(255, 78, 78, 0.2);
}
  
  /* Create an active/current tablink class */
.tab button.active {
    background-color: rgba(255, 78, 78, 0.5);
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgba(255, 78, 78, 0.5);
} 

.averages-grid {
    /* three by 2 of rectangles */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.averages-grid div {
    border-radius: 35px;
    height: fit-content;

    text-align: center;
    padding: 3px;
    margin: 0;
    
    font-family: "Roboto", sans-serif;
    font-weight: 900;

    margin-bottom: 10px;
}
.averages-grid .Normal {
    border: 2px solid rgba(170, 170, 170);
}
.averages-grid .Hard {
    border: 2px solid rgba(255, 149, 78);
}
.averages-grid .Extreme {
    border: 2px solid rgba(255, 78, 78);
}
.averages-grid .Deluxe {
    border: 3px solid rgba(233, 136, 10);
}


 /* The Modal (background) */
 .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-image: var(--bdpe-bg);
    margin: 5% auto; 
    padding: 0px;
    border: 4px solid rgba(255, 78, 78, 0.3);
    border-radius: 5px;
    width: 80%;
  }
  
  .close {
    color: #fff;
    float: right;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgba(255, 78, 78, 0.5);
    text-decoration: none;
    cursor: pointer;
  } 

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: rgba(255, 78, 78, 0.3);
    color: white;
  }
  
/* Modal Body */
.modal-body {
    padding: 2px 16px;
    color: white;
    font-family: "Roboto", sans-serif;
}
.modal-warn {
    background-color: rgba(240, 110, 4, 0.3);
    border: 2px solid rgba(240, 110, 4, 0.5);
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: calc(100% - 36px);
    height: fit-content;
}
.modal-body pre {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    /* auto new line */
    white-space: pre-wrap;
    padding: 15px;

    overflow: auto;
    line-height: 1.4;
}
.modal-body pre input {
    background-color: rgba(255, 78, 78, 0.1);
    color: white;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: left;
    padding: 5px 10px;
    margin: 0;

    width: 80%;
    height: fit-content;
    
}
.modal-body pre input:hover {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    
}
.modal-body pre input:focus {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    /* no highlight on focus */
    outline: none;
}

.btn-copy {
    background-color: rgba(255, 78, 78, 0.3);
    color: white;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: left;
    padding: 5px 10px;
    margin: 0;

    width: fit-content;
    height: fit-content;
    
}
.btn-copy:hover {
    background-color: rgba(255, 78, 78, 0.5);
    border: none;
    
}


/*
flex on .outer, height 100% on .inner
and flex with flex basis on legend
*/
.outer {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 0;
}
.inner {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;

    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 1.1vmin;
}
.legend {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    padding: 0;
}
.legend li::marker {
    color: var(--li-color);
}
.legend-circle {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;

    width: 2px;
    height: 2px;
    border-radius: 50%;
}

.owo-whats-this {
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    /* vert center */
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1 / 12;

    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 10vmin;
    color: rgba(255, 78, 78, 0.5);

}

@keyframes beta-warning {
    /* shake */
    0% {
        transform: translate(-100%, 0);
        opacity: 0.4;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.beta-warning {
    position: absolute;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-left: 3px solid rgba(255, 78, 78, 1);
    animation: beta-warning 1s;
    z-index: 4;
    left: 5px;
    bottom: 10%
}
.beta-warning h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: rgba(255, 78, 78, 1);
    text-align: left;
    margin: 0;
    padding-bottom: 15px;
}
.beta-warning p {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    margin: 0;
    padding-bottom: 15px;
}
.beta-warning p a {
    color: rgba(255, 78, 78, 1);
    text-decoration: none;
}
.beta-warning x {
    color: rgb(88, 139, 64);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 900;
    float: right;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 3px;
}
.beta-warning x:hover {
    color: rgba(63, 105, 43, 0.5);
    text-decoration: none;
    cursor: pointer;
}

.song-searchbar {
    width: 100%;
    align-items: center;
    text-align: center;
    /* vert center */
    display: grid;
    flex-direction: row;
    gap: 5px;
}
.song-searchbar .searchbar {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: left;
}
.searchbar .input-container {
    padding: 0px 15px;
    border-radius: 15px;
    border: 2px rgba(143, 143, 143, 0.8) solid;
    background-color: rgba(0,0,0,0.3);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.searchbar .input-container icon {
    color: white;
    height: 16px;
    margin-right: 10px;
    width: 16px;
}
.searchbar .input-container input {
    border: none;
    background-color: rgba(0,0,0,0);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding: 5px 0px;
    font-size: 1rem;
    width: 100%;
}
.searchbar .input-container input:focus {
    outline: none;
}

.song-searchbar .filterbar {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.search-results {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 474px);

    /* Scrollbar */
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(0,0,0,0.3);
}

.filterbar-order {
    padding: 5px 5px;
    border-radius: 50%;
    border: 2px rgba(143, 143, 143, 0.8) solid;
    background-color: rgba(0,0,0,0.3);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
} svg {
    height: 20px;
    width: 20px;
    color: white;
}

.filterbar-button {
    padding: 5px 15px;
    border-radius: 15px;
    border: 2px rgba(143, 143, 143, 0.8) solid;
    background-color: rgba(0,0,0,0.3);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.filterbar-button icon {
    color: white;
    height: 16px;
    margin-right: 10px;
    width: 16px;
}
.filterbar-button p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    margin: 0;
    padding: 0;
}

.search-item {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    color: white;
    cursor: pointer;
}
.search-item:hover {
    background-color: rgba(95, 95, 95, 0.3);
}
.search-item.hidden {
    display: none;
}
.search-item.deluxe {
    background-color: rgba(194, 153, 17, 0.1);
}
.search-item.deluxe:hover {
    background-color: rgba(194, 153, 17, 0.3);
}
.song-image {
    width: 64px;
    height: 64px;
    padding: 5px;
    position: relative;
}
.song-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.song-difficulty-icon {
    /* bottom right of image slightly off edge */
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.song-difficulty-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.song-info {
    max-width: calc(100% - 84px);
    position: relative;
}
.song-name {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    margin: 0;
    padding: 0;
}
.song-author {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 0;
}

img:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    background-image: url(../img/logo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
